@{
    ViewBag.Title = "Página de inicio";
}

<div class="jumbotron">
    <h1>Universidad Contoso</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a Universidad Contoso</h2>
        <p>
            Tercera versión de la aplicación, recreamos la página desde cero. 
        </p>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <th>Fecha</th>
                <th>Sección</th>
                <th>Estado</th>
                <th>Observaciones</th>
            </thead>
                <tbody>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Create an Entity Framework Data Model</b></td>
                        <td>Finalizado</td>
                        <td>Reinicio el proyecto, comienzo con "Create an Entity Framework Data Model" </td>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Implementing Basic CRUD Functionality</b></td>
                        <td>Finalizado</td>
                        <td>He modificado algunos detalles en las páginas de estudiante, añadido color rojo al aviso de eliminación. </td>
                    </tr>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Sorting, Filtering, and Paging</b></td>
                        <td>Finalizado</td>
                        <td>Nada que remarcar. </td>
                    </tr>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Connection Resiliency and Command Interception</b></td>
                        <td>Finalizado</td>
                        <td>Nada que remarcar.</td>
                    </tr>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Connection Resiliency and Command Interception</b></td>
                        <td>Finalizado</td>
                        <td>Nada que remarcar.</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
