
@{
    ViewBag.Title = "Progreso";
}

    <h2>Progreso</h2>
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Introducción</h3>
            <p>Comienzo nuevo curso de ASP MVC siguiendo las indicaciones del libro ASP.NET MVC with Entity Framework and CSS que puede ser encontrado en: 
            <a href="https://learning.oreilly.com/library/view/aspnet-mvc-with"> WEB OREILLY</a></p>
        </div>
        <div class="col-md-8">
            <table class="table">
                <h3>Tabla de progreso</h3>
                <thead style="text-transform: uppercase">
                    <tr>
                        <th>
                            CAPITULO
                        </th>
                        <th>
                            FECHA
                        </th>
                        <th>
                            ESTADO
                        </th>
                        <th>
                            PROGRESO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Building a Basic MVC Web Site</td>
                        <td>29/04/2019</td>
                        <td>Finalizado</td>
                        <td>Creada ésta página en adición a lo que que indica el libro para controlar el proyecto, sincronizado con GitHub.</td>
                    </tr>
                    <tr>
                        <td>Creating Views, Controllers, and a Database from Model Classes</td>
                        <td>29/04/2019</td>
                        <td>INICIADO</td>
                        <td>Me quedo al final cambiadno el nombre a mostrar a las categorias, extracto para buscar " Build the solution and run it by choosing Debug"</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





