
@{
    ViewBag.Title = "Progreso";
}

    <h2>Progreso</h2>
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Introducción</h3>
            <p>Comienzo nuevo curso de ASP MVC siguiendo las indicaciones del libro ASP.NET MVC with Entity Framework and CSS que puede ser encontrado en: 
            <a href="https://learning.oreilly.com/library/view/aspnet-mvc-with"> WEB OREILLY</a></p>
        </div>
        <div class="col-md-8">
            <table class="table">
                <h3>Tabla de progreso</h3>
                <thead style="text-transform: uppercase">
                    <tr>
                        <th>
                            CAPITULO
                        </th>
                        <th>
                            FECHA
                        </th>
                        <th>
                            ESTADO
                        </th>
                        <th>
                            PROGRESO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Building a Basic MVC Web Site</td>
                        <td>29/04/2019</td>
                        <td>Finalizado</td>
                        <td>Creada ésta página en adición a lo que que indica el libro para controlar el proyecto, sincronizado con GitHub.</td>
                    </tr>
                    <tr>
                        <td>Creating Views, Controllers, and a Database from Model Classes</td>
                        <td>30/04/2019</td>
                        <td>Finalizado</td>
                        <td>
                            Finalizado sin inconvenientes, he añadido algunos filtros a los campos (Nombres y descripcion en productos y categorias) que requieren que
                            los textos introducidos deben comenzar por mayúsculas y contener sólo letras o carácterés básicos como '.' o ','.<br />
                            También he modificado un poco los estilos y añadido información a las páginas de eliminación para resaltar su atención.<br />
                            Se añaden nombres de los productos/categorias al encabezado de los detalles y eliminar.
                        <td>
                    </tr>
                    <tr>
                        <td>Searching, Advanced Filtering, and View Models</td>
                        <td>30/04/2019</td>
                        <td>INICIADO</td>
                        <td>Me encuentro en el inicio. <td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





