@model IEnumerable<universidadContoso.ViewModels.FechaInscripcionGroup>

@{
    ViewBag.Title = "Estadística del cuerpo de estudiantes";
}

    <h2>Estadística del cuerpo de estudiantes</h2>

<table class="table">
    <tr>
        <th>
            Fecha de inscripción
        </th>
        <th>
            Estudiantes
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @item.CantidadEstudiantes
            </td>
        </tr>
    }
</table>
