@{
    ViewBag.Title = "Página Inicio";
}

<div class="jumbotron">
    <h1>Universidad Contoso</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a la universidad Contoso</h2>
        <p>
            Universidad Conotoso es una aplicación de prueba
            que demuestra el uso de Entity Framework 6 en una 
            aplicación web ASP.NET MVC.            
        </p>
    </div>
    <div class="col-md-8">
        <h2>NOTAS</h2>
        <ul>
            <b>08/04/19: </b>Nuevo inicio del proyecto, elimino todas las clases y comienzo de nuevo.
            <ul>Finalizado: "Crear un modelo de datos de Entity Framework".</ul>
            <ul>Finalizado:  "Implementar la funcionalidad CRUD básica".</ul>
            <ul>Finalizado: "Ordenar, filtrar y paginar".</ul>
            <ul></ul>
        </ul>
        <ul>
            <b>09/04/19: </b>
            <ul>Finalizado: "Resistencia de la conexión e intercepción de comandos."</ul>
            <ul>Finalizado: Implementación y migraciones de Code First<br />
                <small>NOTA: He omitido la parte de integración en Azure.</small>
            </ul>
            <ul>INICIADO: "Crear un modelo de datos más complejo".</ul>
        </ul>
    </div>    
</div>

</div>