@{
    ViewBag.Title = "Página de inicio";
}

<div class="jumbotron">
    <h1>Universidad Contoso</h1>
</div>
<div class="row">
    <div class="col-md-4" style="text-align: left">
        <h2>Bienvenido a Universidad Contoso</h2>
        <p>Tercera versión de la aplicación, recreamos la página desde cero. </p>
        <p style="text-align: center">Actualmente estoy siguiente <a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/migrations-and-deployment-with-the-entity-framework-in-an-asp-net-mvc-application"> este</a>
        manual.</p>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <th>Fecha</th>
                <th>Sección</th>
                <th>Estado</th>
                <th>Observaciones</th>
            </thead>
                <tbody>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Create an Entity Framework Data Model</b></td>
                        <td>Finalizado</td>
                        <td>Reinicio el proyecto, comienzo con "Create an Entity Framework Data Model" </td>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Implementing Basic CRUD Functionality</b></td>
                        <td>Finalizado</td>
                        <td>He modificado algunos detalles en las páginas de estudiante, añadido color rojo al aviso de eliminación. </td>
                    </tr>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Sorting, Filtering, and Paging</b></td>
                        <td>Finalizado</td>
                        <td>Nada que remarcar. </td>
                    </tr>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Connection Resiliency and Command Interception</b></td>
                        <td>Finalizado</td>
                        <td>Nada que remarcar.</td>
                    </tr>
                    <tr>
                        <td><b>11/04/2019</b></td>
                        <td><b>Code First Migrations and Deployment</b></td>
                        <td>Finalizado</td>
                        <td>
                            Dado que en el ejemplo no se contempla el registro de usuarios, en mi caso hay dos contextos de datos en lugar
                            de uno, sólo he migrado el que concierne al ejemplo, hay que tenerlo en cuenta en el momento del despliegue, pues
                            la base de datos SQL UniversidadContoso2 solo contiene las tablas mencionadas.
                        </td>
                    </tr>
                    <tr>
                        <td><b>22/04/2019</b></td>
                        <td><b>Creating a More Complex Data Model</b></td>
                        <td>Finalizado</td>
                        <td>
                            En el ejemplo, se especifica el nombre que tendrá el campo "NOMBRE" en la base de datos a través del parametro
                            [Colum("FirstName")] pero en nuestro caso no tiene sentido cambiar dicho nombre a la columna pues ya se llama Nombre
                            y no FirstMidName como en el ejemplo.
                        </td>
                    </tr>
                    <tr>
                        <td><b>22/04/2019</b></td>
                        <td><b>Reading Related Data</b></td>
                        <td>Finalizado</td>
                        <td>Nada que reseñar.</td>
                    </tr>

                    <tr>
                        <td><b>24/04/2019</b></td>
                        <td><b>Updating Related Data</b></td>
                        <td>Finalizado</td>
                        <td>
                            He detectado algunos errores al crear a profesores, al añadir fechas y cursos al profesor asignado.
                            Parece haber quedado solucionado.
                        </td>
                    </tr>

                    <tr>
                        <td><b>24/04/2019</b></td>
                        <td><b>Async and Stored Procedures</b></td>
                        <td>Finalizado</td>
                        <td>
                            He detectado un error al editar, por algún motivo no obtiene la fecha y esto provoca que deba ser introducida nuevamente <br />
                            He modificado la página de eliminación añadiendo información del departamento a eliminar y probado estilos bootstrap. <br />
                            Obvio la parta de integración en Azure.
                        </td>
                    </tr>
                    <tr>
                        <td><b>25/04/2019</b></td>
                        <td><b>Handling Concurrency</b></td>
                        <td>Finalizado</td>
                        <td>Todo funcionando correctamente, sigo arrastrando el error de editar fecha y cantidad.</td>
                    </tr>
                    <tr>
                        <td><b>25/04/2019</b></td>
                        <td><b>Implementing Inheritance</b></td>
                        <td>Finalizado</td>
                        <td>He tenido problemas al implementar el cambio de modelos en la base de datos, pero he conseguido solucionarlos y todo funciona correctamente.</td>
                    </tr>
                    <tr>
                        <td><b>25/04/2019</b></td>
                        <td><b>Advanced Entity Framework Scenarios</b></td>
                        <td>Finalizado</td>
                        <td>Sin nada que remarcar, final del cursillo.</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
